*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:antiquewhite;
}
.container{
    margin-top: 3%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.heart{
    color: red;
}

.image-card{
    width: 20%;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    height: 300px;
    border-radius: 10px;

}

.image-card img{
    width: 100%;
    height: 70%;
    border-radius: 5px;
}

h3{
    padding: 5px;
}

h1{
    margin: auto;
    margin-top: 2%;
    width: fit-content;
    font-size: 40px;
}


@media screen and (max-width:900px){
    body{
        font-size: 10px;
    }

   .image-card{
    width: 40%;
    height: 250px;
   }

   .image-card img{
    height: 80%;
   }

   h1{
    font-size: 30px;
   }

}